# Ansible managed
#======================= Winlogbeat specific options ===========================
winlogbeat.event_logs:
{% for channel in winlogbeat_event_logs.channels %}
  - name: {{ channel.name }}
    ignore_older: {{ channel.ignore_older | default('72h') }}
{% endfor %}

{% if winlogbeat_event_logs.security | bool %}
  - name: Security
    ignore_older: 72h
    processors:
      - drop_event.when.or:
        - equals.winlog.event_id: 4656 # A handle to an object was requested.
        - equals.winlog.event_id: 4658 # The handle to an object was closed.
        - equals.winlog.event_id: 4659 # A handle to an object was requested with intent to delete.
        - equals.winlog.event_id: 4660 # An object was deleted.
        - equals.winlog.event_id: 4663 # An attempt was made to access an object.
        - equals.winlog.event_id: 4664 # An attempt was made to create a hard link.
        - equals.winlog.event_id: 4691 # Indirect access to an object was requested.      
{% endif %}

{% if winlogbeat_event_logs.sysmon | bool %}
  - name: Microsoft-Windows-Sysmon/Operational
{% endif %}

#==================== Elasticsearch template settings ==========================

setup.template.enabled: {{ winlogbeat_template.enabled | default(true) }}
setup.template.settings:
  index.number_of_shards: {{ winlogbeat_template.number_of_shards | default(1) }}


#================================ General =====================================

{% if winlogbeat_general.tags is defined %}
tags: {{ winlogbeat_general.tags | to_json }}
{% endif %}


{% if winlogbeat_cloud is defined %}
#============================= Elastic Cloud ==================================

# These settings simplify using Winlogbeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
cloud.id: {{ winlogbeat_cloud.id }}

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
cloud.auth: {{ winlogbeat_cloud.auth }}
{% endif %}

{% if winlogbeat_ilm is defined %}
#=================================== ILM ======================================
setup.ilm.enabled: {{ winlogbeat_ilm.enabled | default("auto") }}
{% if winlogbeat_ilm.enabled != "false" %} 
setup.ilm.rollover_alias: {{ winlogbeat_ilm.rollover_alias | default("winlogbeat-%{[agent.version]}") }}
setup.ilm.pattern: {{ winlogbeat_ilm.pattern | default("%{now/d}-000001") }}
setup.ilm.policy_name: {{ winlogbeat_ilm.policy_name | default("winlogbeat-%{[agent.version]}") }}
setup.ilm.check_exists: {{ winlogbeat_ilm.check_exists | default(true) }}
{% endif %}
{% endif %}

#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

{% if winlogbeat_output.type == "elasticsearch" %}
#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: {{ winlogbeat_output.elasticsearch.hosts | to_json }}

{% if winlogbeat_output.elasticsearch.security.enabled | bool %}
  # Optional protocol and basic auth credentials.
  username: {{ winlogbeat_output.elasticsearch.security.username }}
  password: {{ winlogbeat_output.elasticsearch.security.password }}
  protocol: {{ winlogbeat_output.elasticsearch.security.protocol }}
{% if winlogbeat_output.elasticsearch.security.ssl_certificate_authorities is defined %}
  ssl.certificate_authorities: {{ winlogbeat_output.elasticsearch.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% endif %}
{% endif %}
{% if winlogbeat_output.type == "logstash" %}
#----------------------------- Logstash output --------------------------------
output.logstash:
  # The Logstash hosts
  hosts: {{ winlogbeat_output.logstash.hosts | to_json }}

{% if winlogbeat_output.logstash.security.ssl_certificate_authorities is defined %}}
  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  ssl.certificate_authorities: {{ winlogbeat_output.logstash.security.ssl_certificate_authorities | to_json }}
{% endif %}
{% endif %}
{% if winlogbeat_output.type == "redis" %}
#------------------------------ Redis output ---------------------------------
output.redis:
  hosts: {{ winlogbeat_output.redis.hosts | to_json }}
{% if winlogbeat_output.redis.password is defined %}
  password: {{ winlogbeat_output.redis.password }}
{% endif %}
  key: {{ winlogbeat_output.redis.key }}
{% endif %}

#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~

#================================ Logging =====================================

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
#logging.level: debug

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publish", "service".
#logging.selectors: ["*"]

#============================== X-Pack Monitoring ===============================
# winlogbeat can export internal metrics to a central Elasticsearch monitoring
# cluster.  This requires xpack monitoring to be enabled in Elasticsearch.  The
# reporting is disabled by default.

# Set to true to enable the monitoring reporter.
#monitoring.enabled: false

# Sets the UUID of the Elasticsearch cluster under which monitoring data for this
# Winlogbeat instance will appear in the Stack Monitoring UI. If output.elasticsearch
# is enabled, the UUID is derived from the Elasticsearch cluster referenced by output.elasticsearch.
#monitoring.cluster_uuid:

# Uncomment to send the metrics to Elasticsearch. Most settings from the
# Elasticsearch output are accepted here as well.
# Note that the settings should point to your Elasticsearch *monitoring* cluster.
# Any setting that is not set is automatically inherited from the Elasticsearch
# output configuration, so if you have the Elasticsearch output configured such
# that it is pointing to your Elasticsearch monitoring cluster, you can simply
# uncomment the following line.
#monitoring.elasticsearch:
